<div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">

                            <div class="text-center m-t-lg">
                                <img src="img/angular_logo.png" alt="AngularJS">
                                <h1>Inspinia <span class="text-navy">AngularJs</span></h1>
                                <small>Supported Angular version</small>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div>
                                <p>
                                    <strong>Inspinia <span class="text-navy">AngularJs</span></strong> is full supported Angularjs version of INSPINIA theme. AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. Angular's data binding and dependency injection eliminate much of the code you currently have to write. And it all happens within the browser, making it an ideal partner with any server technology.</strong>
                                </p>
                                <p class="text-center m-t-md">
                                    <a target="_blank" href="Angular/" class="btn btn-primary">Live AngularJS version</a>
                                </p>
                                </div>
                            <div>
                                <div class="hr-line-dashed"></div>
                                <div class="text-center">
                                    <p>
                                        This version contains a number of controllers and directives written specifically to support angular framework.
                                        <br/>
                                        <strong>Angular version is writen with Opinionated AngularJS styleguide for teams</strong>. (https://github.com/toddmotto/angularjs-styleguide).
                                        <br/>
                                        In project folder you find also <strong class="text-navy">SeedProject</strong> It is an application skeleton for a typical AngularJS web app. You can use it to quickly bootstrap your angular
                                        webapp projects and dev environment for these projects.
                                    </p>
                                </div>
                                <div>

                                <div class="text-center m">
                                <strong><h3>26 Directives prepared and implemented in Inspinia theme.</h3></strong>
                                    <small>All data and options to create charts, calendar events, tables or other plugin are from controllers for easy management, configuration, and load data from the server. If you need any help feel free to write to me on support@webapplayers.com. </small>
                                    </div>

                                <div class="row">

                                    <div class="col-lg-6">
                                        <ul class="directive-list">
                                            <li>DataTables</li>
                                            <li>Vector Map</li>
                                            <li>Flot charts</li>
                                            <li>ChartJs charts</li>
                                            <li>Knob input style</li>
                                            <li>Ui.Router</li>
                                            <li>Ui.Bootstrap</li>
                                            <li>Switchery </li>
                                            <li>Peity charts</li>
                                            <li>Riskshaw charts</li>
                                            <li>Summernote (text editor)</li>
                                            <li>nuoSlider</li>
                                            <li>DataPicker</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="directive-list">

                                            <li>Morris charts</li>
                                            <li>Sparkline charts</li>
                                            <li>Ion Ranges Slider</li>
                                            <li>UI.Calendar (FullCalendar)</li>
                                            <li>Custom checkbox (icheck)</li>
                                            <li>Drop zone</li>
                                            <li>Fancy box</li>
                                            <li>Chosen (select plugin)</li>
                                            <li>Dynamic Page title </li>
                                            <li>Slide navigation</li>
                                            <li>Ibox Tools</li>
                                            <li>Minimalize sidebar</li>
                                            <li>Responsive video</li>
                                        </ul>
                                    </div>

                                    </div>



                            </div>

                        </div>
                    </div>
                </div>
        </div>
        </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>

        </div>